<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger shadow-sm fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="../assets/img/blood-drop.svg" width="40" class="me-2">BloodLife
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard.html"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="inventory.html"><i class="fas fa-chart-pie"></i> Inventory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="donors.html"><i class="fas fa-users"></i> Donors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="requests.html"><i class="fas fa-tint"></i> Requests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html"><i class="fas fa-info-circle"></i> About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html"><i class="fas fa-envelope"></i> Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>